*.o
*.lo
*.la
*.pc
*.m4
Makefile
Makefile.in
.deps
.libs
.dirstamp
config.*
ta-lib.dpkg
ta-lib.spec
missing
ltmain.sh
libtool
install-sh
include/ta_config.*
include/stamp-h1
depcomp
configure
compile
autom4te.cache
ar-lib
gen_code
ta_regtest
